



:root {
  --back:rgb(235, 235, 244);
  --outline: darkorchid ;


  --light1: rgb(237, 238, 240)  ;
  --light2: rgb(227, 229, 234)  ;
  --light3: rgb(213, 216, 223)  ;
  --light4: rgb(197, 200, 209)  ;
  --light5: rgb(183, 186, 196)  ;
  --light6: rgb(165, 169, 182)  ;
  --light7: rgb(152, 156, 170)  ;


  --light-8:#2e2e30;
  --light-9:#171718;
  --light-7:#464649;
  --light-6:#5d5d61;
  --light-5:#75757a;
  --light-4:#8c8c92;
  --light-3:#a3a3aa;
  --light-2:#bbbbc3;
  --light-1:#d2d2db;
  --light:#eaeaf4;
  --light1:#ececf5;
  --light2:#eeeef6;
  --light3:#f0f0f7;
  --light4:#f2f2f8;
  --light5:#f4f4f9;
  --light6:#f6f6fa;
  --light7:#f8f8fb;
  --light8:#fafafc;
  --light9:#fcfcfd;


  --dark-9:#08080e;
  --dark-8:#11111d;
  --dark-7:#19192b;
  --dark-6:#22223a;
  --dark-5:#2b2b49;
  --dark-4:#333357;
  --dark-3:#3c3c66;
  --dark-2:#444474;
  --dark-1:#4d4d83;
  --dark:#565692;
  --dark1:#66669c;
  --dark2:#7777a7;
  --dark3:#8888b2;
  --dark4:#9999bd;
  --dark5:#aaaac9;
  --dark6:#bbbbd3;
  --dark7:#ccccd3;
  --dark8:#dddde9;
  --dark9:#eeeef4;


  --bluel-9:#e5ecff;
  --bluel-8:#ccdaff;
  --bluel-7:#b2c8ff;
  --bluel-6:#99b6ff;
  --bluel-5:#7fa4ffff;
  --bluel-4:#6692ff;
  --bluel-3:#4c80ff;
  --bluel-2:#326eff;
  --bluel-1:#195cff;
  --bluel:#004aff;
  --bluel1:#0042e5;
  --bluel2:#003bcc;
  --bluel3:#0033b2;
  --bluel4:#002c99;
  --bluel5:#00257f;
  --bluel6:#001d66;
  --bluel7:#00164c;
  --bluel8:#000e33;
  --bluel9:#000719;

  --red-9:#ffE5E5;
  --red-8:#ffCCCC;
  --red-7:#ffB2B2;
  --red-6:#ff9999;
  --red-5:#ff7F7F;
  --red-4:#ff6666;
  --red-3:#ff4C4C;
  --red-2:#ff3232;
  --red-1:#ff1919;
  --red:#ff0000;
  --red1:#E50000;
  --red2:#CC0000;
  --red3:#B20000;
  --red4:#990000;
  --red5:#7F0000;
  --red6:#660000;
  --red7:#4C0000;
  --red8:#330000;
  --red9:#190000;

  --orange-9:#ffEEE5;
  --orange-8:#ffDECC;
  --orange-7:#ffCDB2;
  --orange-6:#ffBD99;
  --orange-5:#ffAD7F;
  --orange-4:#ff9C66;
  --orange-3:#ff8C4C;
  --orange-2:#ff7B32;
  --orange-1:#ff1919;
  --orange:#FF5B00;
  --orange1:#E55100;
  --orange2:#CC4800;
  --orange3:#B23F00;
  --orange4:#993600;
  --orange5:#7F2D00;
  --orange6:#662400;
  --orange7:#4C1B00;
  --orange8:#331200;
  --orange9:#190900;



  --vio-9:#f1e5ff;
  --vio-8:#e3ccff;
  --vio-7:#d5b2ff;
  --vio-6:#c799ff;
  --vio-5:#ba7fff;
  --vio-4:#ac66ff;
  --vio-3:#9e4cff;
  --vio-2:#9032ff;
  --vio-1:#8219ff;
  --vio:#7500ff;
  --vio1:#6900e5;
  --vio2:#5d00cc;
  --vio3:#5100b2;
  --vio4:#460099;
  --vio5:#3a007f;
  --vio6:#2a0066;
  --vio7:#23004c;
  --vio8:#170033;
  --vio9:#0b0019;


}

body,pre {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0px;
  padding: 0px;
  outline-color: var(--outline);
  box-sizing: border-box;
  /* overflow: hidden; */
  transition: 1s display ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body{
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #969ba900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(177, 181, 189);
  border-radius: 5px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(134, 144, 172);
}



body{
  background-color: var(--back);
  /* padding: 20px; */
}

input,select,textarea{
  margin: 5px 5px;
  padding: 8px ;
  border-radius: 3px;

  border: none;
  color: rgb(80, 80, 80);

}

input {
  font-size: 17px;
}

input::placeholder{
  color: rgb(172, 172, 172);
  font-size: 15px;
  font-weight: 300;
  
}
small{
  color: rgb(172, 172, 172);
  font-size: 12px;
  margin:0px;
}

p,h1,h2,h3,h4,label,pre{
  color: rgb(100, 100, 100);
  text-align: left;
}
h2,h3{

  font-weight: 500;
}
pre{
  font-size: 17px;
  text-transform: capitalize;
  color: rgb(65, 65, 65);
}

a,li{
  text-decoration: none;
  list-style: none;
  margin-left: 5px;
  margin-right: 5px;
}

img{
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button{
  padding:10px 20px;
  border: none;
  margin: 5px;
  background: darkslateblue;
  color: rgb(238, 238, 238);
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.508);
}

button:hover{
  background: rgb(39, 34, 68);
}

button:disabled {background-color: rgb(140, 140, 140); cursor: not-allowed;}

button.secondary:hover{
  background-color: rgb(153, 15, 15);
}
.div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.test{
  position: fixed;
}

.activeListItem{background-color:var(--light4) }

.btn1 {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}



.box20{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.box10shadow{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.118);
}
.box20shadow{
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow:  2px 2px 10px rgba(0, 0, 0, 0.118);
}


/* ANIMATION */

.trans{transition: display .5s ;}
.capitalized{text-transform: capitalize;}

.fs6 {font-size: 6px;}
.fs7 {font-size: 7px;}
.fs8 {font-size: 8px;}
.fs9 {font-size: 9px;}
.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {font-size: 14px;}
.fs15 {font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs19 {font-size: 19px;}
.fs20 {font-size: 20px;}
.fs21 {font-size: 21px;}
.fs22 {font-size: 22px;}
.fs23 {font-size: 23px;}
.fs24 {font-size: 24px;}
.fs25 {font-size: 25px;}
.fs26 {font-size: 26px;}
.fs27 {font-size: 27px;}
.fs28 {font-size: 28px;}
.fs29 {font-size: 29px;}
.fs30 {font-size: 30px;}
.fs40 {font-size: 40px;}
.fs50 {font-size: 50px;}
.fs60 {font-size: 60px;}
.fs70 {font-size: 70px;}
.fs80 {font-size: 80px;}
.fs90 {font-size: 90px;}
.fs100 {font-size: 100px;}
.fsXxs {font-size: xx-small;}
.fsXs {font-size: x-small;}
.fsSmaller {font-size: smaller;}
.fsS {font-size: small;}
.fsM {font-size:medium;}
.fsL {font-size: large;}
.fsLarger {font-size: larger;}
.fsXl {font-size: x-large;}
.fsXxl {font-size: xx-large;}

.fw1 {font-weight: 100;}
.fw2 {font-weight: 200;}
.fw3 {font-weight: 300;}
.fw4 {font-weight: 400;}
.fw5 {font-weight: 500;}
.fw6 {font-weight: 600;}
.fw7 {font-weight: 700;}
.fw8 {font-weight: 800;}
.fw9 {font-weight: 900;}
.fwb {font-weight:bold;}
.fwbolder {font-weight:bolder;}

.hov-bold:hover {font-weight: bold;}
.hov-line:hover{text-decoration: underline;}

.pointer{cursor: pointer;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.static {position: static;}
.sticky {position: sticky;}

.no-repeat{background-repeat: no-repeat;}
.cover{background-size: cover;}
.contain{background-size: contain;}
.center{background-position: center;}

.outline_cPurple1{outline-color: var(--purple1);}
.noOutline{outline: none;}

.b1s{border: 1px solid;}
.b2s{border: 2px solid;}
.bOutlined{border-color: var(--outline);}


.t-100 {top: -100px;}
.t-90 {top: -90px;}
.t-80 {top: -80px;}
.t-70 {top: -70px;}
.t-60 {top: -60px;}
.t-50 {top: -50px;}
.t-40 {top: -40px;}
.t-30 {top: -30px;}
.t-20 {top: -20px;}
.t-10 {top: -10px;}
.t-10 {top: -10px;}
.t-5 {top: -5px;}
.t0 {top: 0;}
.t5 {top: 5px;}
.t10 {top: 10px;}
.t20 {top: 20px;}
.t30 {top: 30px;}
.t40 {top: 40px;}
.t50 {top: 50px;}
.t60 {top: 60px;}
.t70 {top: 70px;}
.t80 {top: 80px;}
.t90 {top: 90px;}
.t100 {top: 100px;}

.b-100 {bottom: -100px;}
.b-90 {bottom: -90px;}
.b-80 {bottom: -80px;}
.b-70 {bottom: -70px;}
.b-60 {bottom: -60px;}
.b-50 {bottom: -50px;}
.b-40 {bottom: -40px;}
.b-30 {bottom: -30px;}
.b-20 {bottom: -20px;}
.b-10 {bottom: -10px;}
.b-10 {bottom: -10px;}
.b-5 {bottom: -5px;}
.b0 {bottom: 0;}
.b5 {bottom: 5px;}
.b10 {bottom: 10px;}
.b20 {bottom: 20px;}
.b30 {bottom: 30px;}
.b40 {bottom: 40px;}
.b50 {bottom: 50px;}
.b60 {bottom: 60px;}
.b70 {bottom: 70px;}
.b80 {bottom: 80px;}
.b90 {bottom: 90px;}
.b100 {bottom: 100px;}

.l-100 {left: -100px;}
.l-90 {left: -90px;}
.l-80 {left: -80px;}
.l-70 {left: -70px;}
.l-60 {left: -60px;}
.l-50 {left: -50px;}
.l-40 {left: -40px;}
.l-30 {left: -30px;}
.l-20 {left: -20px;}
.l-10 {left: -10px;}
.l-10 {left: -10px;}
.l-5 {left: -5px;}
.l0 {left: 0;}
.l5 {left: 5px;}
.l10 {left: 10px;}
.l20 {left: 20px;}
.l30 {left: 30px;}
.l40 {left: 40px;}
.l50 {left: 50px;}
.l60 {left: 60px;}
.l70 {left: 70px;}
.l80 {left: 80px;}
.l90 {left: 90px;}
.l100 {left: 100px;}

.r-100 {right: -100px;}
.r-90 {right: -90px;}
.r-80 {right: -80px;}
.r-70 {right: -70px;}
.r-60 {right: -60px;}
.r-50 {right: -50px;}
.r-40 {right: -40px;}
.r-30 {right: -30px;}
.r-20 {right: -20px;}
.r-10 {right: -10px;}
.r-10 {right: -10px;}
.r-5 {right: -5px;}
.r0 {right: 0;}
.r5 {right: 5px;}
.r10 {right: 10px;}
.r20 {right: 20px;}
.r30 {right: 30px;}
.r40 {right: 40px;}
.r50 {right: 50px;}
.r60 {right: 60px;}
.r70 {right: 70px;}
.r80 {right: 80px;}
.r90 {right: 90px;}
.r100 {right: 100px;}


[noStyle] {list-style: none;text-decoration: none;}
.noStyle, .noStyle a {list-style: none;text-decoration: none;}

.hidden {overflow: hidden;}
.scrollY {overflow: hidden; overflow-y: scroll;}
.scrollX {overflow: hidden; overflow-X: scroll;}
.scroll {overflow: hidden; overflow-X: scroll; overflow-y: scroll;}

.borderBox {box-sizing:content-box;}

.hide{display: none;}
[flx] {display: flex;}
.flx {display: flex;}
.flxCenter {display: flex;justify-content: center;}
.flxEnd {display: flex;justify-content: end;}
.flxStart {display: flex;justify-content: start;}
.flxStetch {display: flex;justify-content: stretch;}
.flxBetween {display: flex;justify-content: space-between;}
.flxAround {display: flex;justify-content: space-around;}
.flxEvenly {display: flex;justify-content:space-evenly;}
.flxStretch {display: flex;justify-content:stretch;}

.flxC {display: flex; flex-direction: column;}
.flxCCenter {display: flex; flex-direction: column; justify-content: center;}
.flxCBetween {display: flex; flex-direction: column; justify-content: space-between;}
.flxCEvently {display: flex; flex-direction: column; justify-content: space-evenly;}
.flxCAround {display: flex; flex-direction: column; justify-content: space-around;}
.flxCStretch {display: flex; flex-direction: column; justify-content: stretch;}
.flxCEnd {display: flex; flex-direction: column; justify-content: end;}
.flxCStart {display: flex; flex-direction: column; justify-content: start;}
.flxCLeft {display: flex; flex-direction: column; justify-content: left;}
.flxCRight {display: flex; flex-direction: column; justify-content: right;}

.flx1 {flex: 1;}
.flx2 {flex: 2;}
.flx3 {flex: 3;}
.flx4 {flex: 4;}
.wrap {flex-wrap: wrap;}



.textLeft {text-align: left;}
.textRight {text-align: right;}
.textCenter {text-align: center;}
.itemCenter {align-items: center;}
.itemEnd {align-items:flex-end;}
.itemStart {align-items:flex-start;}
.itemLeft {align-items: left;}
.contentCenter {align-content: center;}
.contentLeft {align-content: left;}

.word-wrap {word-wrap: break-word;}

.w30per {width:30% ;}
.w80per {width:80% ;}
.w83per {width:83% ;}
.w85per {width:85% ;}
.w90per {width:90% ;}
.w100per {width:100% ;}

.h100per {height: 100%;}
.h100vh{height: 100vh;}
.vh100{height: 100vh;}


.mxw1 {max-width: 1px;}
.mxw2 {max-width: 2px;}
.mxw3 {max-width: 3px;}
.mxw4 {max-width: 4px;}
.mxw5 {max-width: 5px;}
.mxw6 {max-width: 6px;}
.mxw7 {max-width: 7px;}
.mxw8 {max-width: 8px;}
.mxw9 {max-width: 9px;}
.mxw10 {max-width: 10px;}
.mxw11 {max-width: 11px;}
.mxw12 {max-width: 12px;}
.mxw13 {max-width: 13px;}
.mxw14 {max-width: 14px;}
.mxw15 {max-width: 15px;}
.mxw16 {max-width: 16px;}
.mxw17 {max-width: 17px;}
.mxw18 {max-width: 18px;}
.mxw19 {max-width: 19px;}
.mxw20 {max-width: 20px;}
.mxw21 {max-width: 21px;}
.mxw22 {max-width: 22px;}
.mxw23 {max-width: 23px;}
.mxw24 {max-width: 24px;}
.mxw25 {max-width: 25px;}
.mxw30 {max-width: 30px;}
.mxw31 {max-width: 31px;}
.mxw32 {max-width: 32px;}
.mxw33 {max-width: 33px;}
.mxw34 {max-width: 34px;}
.mxw35 {max-width: 35px;}
.mxw36 {max-width: 36px;}
.mxw37 {max-width: 37px;}
.mxw38 {max-width: 38px;}
.mxw39 {max-width: 39px;}
.mxw40 {max-width: 40px;}
.mxw45 {max-width: 45px;}
.mxw50 {max-width: 50px;}
.mxw55 {max-width: 55px;}
.mxw60 {max-width: 60px;}
.mxw65 {max-width: 65px;}
.mxw70 {max-width: 70px;}
.mxw75 {max-width: 75px;}
.mxw80 {max-width: 80px;}
.mxw85 {max-width: 85px;}
.mxw90 {max-width: 90px;}
.mxw95 {max-width: 95px;}
.mxw100 {max-width: 100px;}
.mxw110 {max-width: 110px;}
.mxw120 {max-width: 120px;}
.mxw130 {max-width: 130px;}
.mxw140 {max-width: 140px;}
.mxw150 {max-width: 150px;}
.mxw160 {max-width: 160px;}
.mxw170 {max-width: 170px;}
.mxw180 {max-width: 180px;}
.mxw190 {max-width: 190px;}
.mxw200 {max-width: 200px;}
.mxw210 {max-width: 210px;}
.mxw220 {max-width: 220px;}
.mxw230 {max-width: 230px;}
.mxw240 {max-width: 240px;}
.mxw250 {max-width: 250px;}
.mxw260 {max-width: 260px;}
.mxw270 {max-width: 270px;}
.mxw280 {max-width: 280px;}
.mxw290 {max-width: 290px;}
.mxw300 {max-width: 300px;}
.mxw400 {max-width: 400px;}
.mxw500 {max-width: 500px;}
.mxw600 {max-width: 600px;}
.mxw700 {max-width: 700px;}
.mxw800 {max-width: 800px;}
.mxw900 {max-width: 900px;}
.mxw1000 {max-width: 1000px;}
.mxw1100 {max-width: 1100px;}
.mxw1200 {max-width: 1200px;}
.mxw1300 {max-width: 1300px;}
.mxw1400 {max-width: 1400px;}
.mxw1500 {max-width: 1500px;}
.mxw1600 {max-width: 1600px;}
.mxw1700 {max-width: 1700px;}
.mxw1800 {max-width: 1800px;}
.mxw1900 {max-width: 1900px;}
.mxw2000 {max-width: 2000px;}


.mxh1 {max-height: 1px;}
.mxh2 {max-height: 2px;}
.mxh3 {max-height: 3px;}
.mxh4 {max-height: 4px;}
.mxh5 {max-height: 5px;}
.mxh6 {max-height: 6px;}
.mxh7 {max-height: 7px;}
.mxh8 {max-height: 8px;}
.mxh9 {max-height: 9px;}
.mxh10 {max-height: 10px;}
.mxh11 {max-height: 11px;}
.mxh12 {max-height: 12px;}
.mxh13 {max-height: 13px;}
.mxh14 {max-height: 14px;}
.mxh15 {max-height: 15px;}
.mxh16 {max-height: 16px;}
.mxh17 {max-height: 17px;}
.mxh18 {max-height: 18px;}
.mxh19 {max-height: 19px;}
.mxh20 {max-height: 20px;}
.mxh21 {max-height: 21px;}
.mxh22 {max-height: 22px;}
.mxh23 {max-height: 23px;}
.mxh24 {max-height: 24px;}
.mxh25 {max-height: 25px;}
.mxh31 {max-height: 31px;}
.mxh32 {max-height: 32px;}
.mxh33 {max-height: 33px;}
.mxh34 {max-height: 34px;}
.mxh35 {max-height: 35px;}
.mxh36 {max-height: 36px;}
.mxh37 {max-height: 37px;}
.mxh38 {max-height: 38px;}
.mxh39 {max-height: 39px;}
.mxh40 {max-height: 40px;}
.mxh45 {max-height: 45px;}
.mxh50 {max-height: 50px;}
.mxh55 {max-height: 55px;}
.mxh60 {max-height: 60px;}
.mxh65 {max-height: 65px;}
.mxh70 {max-height: 70px;}
.mxh75 {max-height: 75px;}
.mxh80 {max-height: 80px;}
.mxh85 {max-height: 85px;}
.mxh90 {max-height: 90px;}
.mxh95 {max-height: 95px;}
.mxh100 {max-height: 100px;}
.mxh110 {max-height: 110px;}
.mxh120 {max-height: 120px;}
.mxh130 {max-height: 130px;}
.mxh140 {max-height: 140px;}
.mxh150 {max-height: 150px;}
.mxh160 {max-height: 160px;}
.mxh170 {max-height: 170px;}
.mxh180 {max-height: 180px;}
.mxh190 {max-height: 190px;}
.mxh200 {max-height: 200px;}
.mxh210 {max-height: 210px;}
.mxh220 {max-height: 220px;}
.mxh230 {max-height: 230px;}
.mxh240 {max-height: 240px;}
.mxh250 {max-height: 250px;}
.mxh260 {max-height: 260px;}
.mxh270 {max-height: 270px;}
.mxh280 {max-height: 280px;}
.mxh290 {max-height: 290px;}
.mxh300 {max-height: 300px;}
.mxh400 {max-height: 400px;}
.mxh500 {max-height: 500px;}
.mxh600 {max-height: 600px;}
.mxh700 {max-height: 700px;}
.mxh800 {max-height: 800px;}
.mxh900 {max-height: 900px;}
.mxh1000 {max-height: 1000px;}
.mxh1100 {max-height: 1100px;}
.mxh1200 {max-height: 1200px;}
.mxh1300 {max-height: 1300px;}
.mxh1400 {max-height: 1400px;}
.mxh1500 {max-height: 1500px;}
.mxh1600 {max-height: 1600px;}
.mxh1700 {max-height: 1700px;}
.mxh1800 {max-height: 1800px;}
.mxh1900 {max-height: 1900px;}
.mxh2000 {max-height: 2000px;}

.mnw1 {min-width: 1px;}
.mnw2 {min-width: 2px;}
.mnw3 {min-width: 3px;}
.mnw4 {min-width: 4px;}
.mnw5 {min-width: 5px;}
.mnw6 {min-width: 6px;}
.mnw7 {min-width: 7px;}
.mnw8 {min-width: 8px;}
.mnw9 {min-width: 9px;}
.mnw10 {min-width: 10px;}
.mnw11 {min-width: 11px;}
.mnw12 {min-width: 12px;}
.mnw13 {min-width: 13px;}
.mnw14 {min-width: 14px;}
.mnw15 {min-width: 15px;}
.mnw16 {min-width: 16px;}
.mnw17 {min-width: 17px;}
.mnw18 {min-width: 18px;}
.mnw19 {min-width: 19px;}
.mnw20 {min-width: 20px;}
.mnw21 {min-width: 21px;}
.mnw22 {min-width: 22px;}
.mnw23 {min-width: 23px;}
.mnw24 {min-width: 24px;}
.mnw25 {min-width: 25px;}
.mnw30 {min-width: 30px;}
.mnw31 {min-width: 31px;}
.mnw32 {min-width: 32px;}
.mnw33 {min-width: 33px;}
.mnw34 {min-width: 34px;}
.mnw35 {min-width: 35px;}
.mnw36 {min-width: 36px;}
.mnw37 {min-width: 37px;}
.mnw38 {min-width: 38px;}
.mnw39 {min-width: 39px;}
.mnw40 {min-width: 40px;}
.mnw45 {min-width: 45px;}
.mnw50 {min-width: 50px;}
.mnw55 {min-width: 55px;}
.mnw60 {min-width: 60px;}
.mnw65 {min-width: 65px;}
.mnw70 {min-width: 70px;}
.mnw75 {min-width: 75px;}
.mnw80 {min-width: 80px;}
.mnw85 {min-width: 85px;}
.mnw90 {min-width: 90px;}
.mnw95 {min-width: 95px;}
.mnw100 {min-width: 100px;}
.mnw110 {min-width: 110px;}
.mnw120 {min-width: 120px;}
.mnw130 {min-width: 130px;}
.mnw140 {min-width: 140px;}
.mnw150 {min-width: 150px;}
.mnw160 {min-width: 160px;}
.mnw170 {min-width: 170px;}
.mnw180 {min-width: 180px;}
.mnw190 {min-width: 190px;}
.mnw200 {min-width: 200px;}
.mnw210 {min-width: 210px;}
.mnw220 {min-width: 220px;}
.mnw230 {min-width: 230px;}
.mnw240 {min-width: 240px;}
.mnw250 {min-width: 250px;}
.mnw260 {min-width: 260px;}
.mnw270 {min-width: 270px;}
.mnw280 {min-width: 280px;}
.mnw290 {min-width: 290px;}
.mnw300 {min-width: 300px;}
.mnw400 {min-width: 400px;}
.mnw500 {min-width: 500px;}
.mnw600 {min-width: 600px;}
.mnw700 {min-width: 700px;}
.mnw800 {min-width: 800px;}
.mnw900 {min-width: 900px;}
.mnw1000 {min-width: 1000px;}
.mnw1100 {min-width: 1100px;}
.mnw1200 {min-width: 1200px;}
.mnw1300 {min-width: 1300px;}
.mnw1400 {min-width: 1400px;}
.mnw1500 {min-width: 1500px;}
.mnw1600 {min-width: 1600px;}
.mnw1700 {min-width: 1700px;}
.mnw1800 {min-width: 1800px;}
.mnw1900 {min-width: 1900px;}
.mnw2000 {min-width: 2000px;}

.mnh10 {min-height: 10px;}
.mnh20 {min-height: 20px;}
.mnh30 {min-height: 30px;}
.mnh40 {min-height: 40px;}
.mnh50 {min-height: 50px;}
.mnh70 {min-height: 70px;}
.mnh80 {min-height: 80px;}
.mnh100 {min-height: 100px;}
.mnh110 {min-height: 110px;}
.mnh120 {min-height: 120px;}
.mnh130 {min-height: 130px;}
.mnh140 {min-height: 140px;}
.mnh150 {min-height: 150px;}
.mnh160 {min-height: 160px;}
.mnh170 {min-height: 170px;}
.mnh170 {min-height: 170px;}
.mnh180 {min-height: 180px;}
.mnh190 {min-height: 190px;}
.mnh200 {min-height: 200px;}
.mnh210 {min-height: 210px;}
.mnh220 {min-height: 220px;}
.mnh230 {min-height: 230px;}
.mnh240 {min-height: 240px;}
.mnh250 {min-height: 250px;}
.mnh260 {min-height: 260px;}
.mnh270 {min-height: 270px;}
.mnh280 {min-height: 280px;}
.mnh290 {min-height: 290px;}
.mnh300 {min-height: 300px;}
.mnh400 {min-height: 400px;}
.mnh500 {min-height: 500px;}
.mnh600 {min-height: 600px;}
.mnh700 {min-height: 700px;}
.mnh800 {min-height: 800px;}
.mnh900 {min-height: 900px;}
.mnh1000 {min-height: 1000px;}
.mnh1100 {min-height: 1100px;}
.mnh1200 {min-height: 1200px;}
.mnh1300 {min-height: 1300px;}
.mnh1400 {min-height: 1400px;}
.mnh1500 {min-height: 1500px;}
.mnh2000 {min-height: 2000px;}

.back {background-color: var(--back);}

.white{background-color: white;}
.dark1{background-color: rgb(228, 228, 228);}
.dark2{background-color: rgb(189, 189, 189);}
.dark3{background-color: rgb(145, 145, 145);}
.dark4{background-color: rgb(91, 91, 91);}
.dark5{background-color: rgb(38, 38, 38);}

.light{background-color: rgb(216, 219, 222);}
.light1{background-color: rgb(235, 237, 239);}
.light2{background-color: rgb(199, 202, 205);}
.light3{background-color: rgb(139, 147, 155);}
.light4{background-color: rgb(105, 113, 121);}
.light5{background-color: rgb(76, 87, 98);}


.blue{background-color: blue;}
.blue1{background-color: rgb(14, 14, 226);}
.blue2{background-color: rgb(24, 24, 175);}
.blue3{background-color: rgb(26, 26, 131);}
.blue4{background-color: rgb(22, 22, 104);}
.blue5{background-color: rgb(15, 15, 56);}

.green{background-color: green;}
.green1{background-color: rgb(8, 112, 8);}
.green2{background-color: rgb(10, 82, 10);}
.green3{background-color: rgb(10, 72, 10);}
.green4{background-color: rgb(10, 53, 10);}
.green5{background-color: rgb(8, 29, 8);}

.primary {background-color: darkslateblue}
.primary2 {background-color: rgb(130, 119, 203)}

.purple {background-color: purple}
.purple1 {background-color: rgb(96, 66, 244);}
.purple2 {background-color: rgb(80, 55, 207);}
.purple3 {background-color: rgb(60, 41, 154);}
.purple4 {background-color: rgb(34, 23, 87);}
.purple5 {background-color: rgb(20, 14, 51);}

.secondary {background-color: rgb(223, 59, 0);}
.gains {background-color: rgb(242, 243, 246);}

.hov-gray:hover {background-color: rgb(187, 187, 187);}

.hov-light:hover {background-color: rgb(216, 219, 222);}
.hov-light1:hover {background-color: var(--light1)}
.hov-light2:hover {background-color: var(--light2)}
.hov-light3:hover {background-color: var(--light3)}
.hov-light4:hover {background-color: var(--light4)}
.hov-light5:hover {background-color: var(--light5)}
.hov-light6:hover {background-color: var(--light6)}
.hov-light7:hover {background-color: var(--light7)}

.hov-light:hover {background-color: rgb(216, 219, 222);}
.hov-light1:hover {background-color: var(--light1)}
.hov-light2:hover {background-color: var(--light2)}
.hov-light3:hover {background-color: var(--light3)}
.hov-light4:hover {background-color: var(--light4)}
.hov-light5:hover {background-color: var(--light5)}
.hov-light6:hover {background-color: var(--light6)}
.hov-light7:hover {background-color: var(--light7)}


.hov-lblue:hover {background-color: rgb(66, 126, 255);}

.white-hov:hover{background-color: gainsboro;}

.rebeccapurple{color: rebeccapurple;}
.cdark {color: rgb(36, 36, 36);}

.cRed{color: red;}
.cRed1{color: rgb(210, 15, 15);}
.cRed2{color: rgb(172, 23, 23);}
.cRed3{color: rgb(124, 29, 29);}
.cRed4{color: rgb(94, 25, 25);}

.cgray {color: rgb(79, 79, 79);}
.cLight1 {color: rgb(220, 220, 220);}
.cLight2 {color: rgb(179, 179, 179);}
.cLight3 {color: rgb(128, 128, 128);}
.cLight4 {color: rgb(72, 72, 72);}

.cLight1 {color: rgb(154, 154, 154);}
.cCrimson{color: crimson;}

.cWhite {color: rgb(233, 233, 233);}
.cWhite * {color: rgb(233, 233, 233);}
.cWhite input {color: rgb(33, 33, 33);}
.cWhite a {color: rgb(232, 232, 232);}
.cBlue1 {color: rgb(97, 89, 255);}

.hov-cRed:hover{color: red;}
.hov-cRed1:hover{color: rgb(210, 15, 15);}
.hov-cRed2:hover{color: rgb(172, 23, 23);}
.hov-cRed3:hover{color: rgb(124, 29, 29);}
.hov-cRed4:hover{color: rgb(94, 25, 25);}

.hov-cGray:hover {color: rgb(79, 79, 79);}
.hov-cDark:hover {color: rgb(36, 36, 36);}
.hov-cCrimson:hover{color: crimson;}
.hov-cWhite:hover * {color: rgb(233, 233, 233);}
.hov-cWhite input:hover {color: rgb(50, 50, 50);}
.hov-cBlue1:hover {color: rgb(52, 41, 255);}


.chov-white:hover {color: white;}
.hov-enlarge{transition: .1s;}
.hov-enlarge:hover{transform:scale(1.2)}

/* BACK COLOR */
.trans{background-color: transparent;}

.light-9{background-color: var(--light-9);}
.light-8{background-color: var(--light-8);}
.light-7{background-color: var(--light-7);}
.light-6{background-color: var(--light-6);}
.light-5{background-color: var(--light-5);}
.light-4{background-color: var(--light-4);}
.light-3{background-color: var(--light-3);}
.light-2{background-color: var(--light-2);}
.light-1{background-color: var(--light-1);}
.light{background-color: var(--light);}
.light1{background-color: var(--light1);}
.light2{background-color: var(--light2);}
.light3{background-color: var(--light3);}
.light4{background-color: var(--light4);}
.light5{background-color: var(--light5);}
.light6{background-color: var(--light6);}
.light7{background-color: var(--light7);}
.light8{background-color: var(--light8);}
.light9{background-color: var(--light9);}


.dark-9{background-color: var(--dark-9);}
.dark-8{background-color: var(--dark-8);}
.dark-7{background-color: var(--dark-7);}
.dark-6{background-color: var(--dark-6);}
.dark-5{background-color: var(--dark-5);}
.dark-4{background-color: var(--dark-4);}
.dark-3{background-color: var(--dark-3);}
.dark-2{background-color: var(--dark-2);}
.dark-1{background-color: var(--dark-1);}
.dark{background-color: var(--dark);}
.dark1{background-color: var(--dark1);}
.dark2{background-color: var(--dark2);}
.dark3{background-color: var(--dark3);}
.dark4{background-color: var(--dark4);}
.dark5{background-color: var(--dark5);}
.dark6{background-color: var(--dark6);}
.dark7{background-color: var(--dark7);}
.dark8{background-color: var(--dark8);}
.dark9{background-color: var(--dark9);}


.red-9{background-color: var(--red-9);}
.red-8{background-color: var(--red-8);}
.red-7{background-color: var(--red-7);}
.red-6{background-color: var(--red-6);}
.red-5{background-color: var(--red-5);}
.red-4{background-color: var(--red-4);}
.red-3{background-color: var(--red-3);}
.red-2{background-color: var(--red-2);}
.red-1{background-color: var(--red-1);}
.red{background-color: var(--red);}
.red1{background-color: var(--red1);}
.red2{background-color: var(--red2);}
.red3{background-color: var(--red3);}
.red4{background-color: var(--red4);}
.red5{background-color: var(--red5);}
.red6{background-color: var(--red6);}
.red7{background-color: var(--red7);}
.red8{background-color: var(--red8);}
.red9{background-color: var(--red9);}

.orange-9{background-color: var(--orange-9);}
.orange-8{background-color: var(--orange-8);}
.orange-7{background-color: var(--orange-7);}
.orange-6{background-color: var(--orange-6);}
.orange-5{background-color: var(--orange-5);}
.orange-4{background-color: var(--orange-4);}
.orange-3{background-color: var(--orange-3);}
.orange-2{background-color: var(--orange-2);}
.orange-1{background-color: var(--orange-1);}
.orange{background-color: var(--orange);}
.orange1{background-color: var(--orange1);}
.orange2{background-color: var(--orange2);}
.orange3{background-color: var(--orange3);}
.orange4{background-color: var(--orange4);}
.orange5{background-color: var(--orange5);}
.orange6{background-color: var(--orange6);}
.orange7{background-color: var(--orange7);}
.orange8{background-color: var(--orange8);}
.orange9{background-color: var(--orange9);}

.bluel-9{background-color: var(--bluel-9);}
.bluel-8{background-color: var(--bluel-8);}
.bluel-7{background-color: var(--bluel-7);}
.bluel-6{background-color: var(--bluel-6);}
.bluel-5{background-color: var(--bluel-5);}
.bluel-4{background-color: var(--bluel-4);}
.bluel-3{background-color: var(--bluel-3);}
.bluel-2{background-color: var(--bluel-2);}
.bluel-1{background-color: var(--bluel-1);}
.bluel{background-color: var(--bluel);}
.bluel1{background-color: var(--bluel1);}
.bluel2{background-color: var(--bluel2);}
.bluel3{background-color: var(--bluel3);}
.bluel4{background-color: var(--bluel4);}
.bluel5{background-color: var(--bluel5);}
.bluel6{background-color: var(--bluel6);}
.bluel7{background-color: var(--bluel7);}
.bluel8{background-color: var(--bluel8);}
.bluel9{background-color: var(--bluel9);}

.vio-9{background-color: var(--vio-9);}
.vio-8{background-color: var(--vio-8);}
.vio-7{background-color: var(--vio-7);}
.vio-6{background-color: var(--vio-6);}
.vio-5{background-color: var(--vio-5);}
.vio-4{background-color: var(--vio-4);}
.vio-3{background-color: var(--vio-3);}
.vio-2{background-color: var(--vio-2);}
.vio-1{background-color: var(--vio-1);}
.vio{background-color: var(--vio);}
.vio1{background-color: var(--vio1);}
.vio2{background-color: var(--vio2);}
.vio3{background-color: var(--vio3);}
.vio4{background-color: var(--vio4);}
.vio5{background-color: var(--vio5);}
.vio6{background-color: var(--vio6);}
.vio7{background-color: var(--vio7);}
.vio8{background-color: var(--vio8);}
.vio9{background-color: var(--vio9);}

/* BACK HOVER */

.hov-light-9:hover{background-color: var(--light-9);}
.hov-light-8:hover{background-color: var(--light-8);}
.hov-light-7:hover{background-color: var(--light-7);}
.hov-light-6:hover{background-color: var(--light-6);}
.hov-light-5:hover{background-color: var(--light-5);}
.hov-light-4:hover{background-color: var(--light-4);}
.hov-light-3:hover{background-color: var(--light-3);}
.hov-light-2:hover{background-color: var(--light-2);}
.hov-light-1:hover{background-color: var(--light-1);}
.hov-light:hover{background-color: var(--light);}
.hov-light1:hover{background-color: var(--light1);}
.hov-light2:hover{background-color: var(--light2);}
.hov-light3:hover{background-color: var(--light3);}
.hov-light4:hover{background-color: var(--light4);}
.hov-light5:hover{background-color: var(--light5);}
.hov-light6:hover{background-color: var(--light6);}
.hov-light7:hover{background-color: var(--light7);}
.hov-light8:hover{background-color: var(--light8);}
.hov-light9:hover{background-color: var(--light9);}


.hov-dark-9:hover{background-color: var(--dark-9);}
.hov-dark-8:hover{background-color: var(--dark-8);}
.hov-dark-7:hover{background-color: var(--dark-7);}
.hov-dark-6:hover{background-color: var(--dark-6);}
.hov-dark-5:hover{background-color: var(--dark-5);}
.hov-dark-4:hover{background-color: var(--dark-4);}
.hov-dark-3:hover{background-color: var(--dark-3);}
.hov-dark-2:hover{background-color: var(--dark-2);}
.hov-dark-1:hover{background-color: var(--dark-1);}
.hov-dark:hover{background-color: var(--dark);}
.hov-dark1:hover{background-color: var(--dark1);}
.hov-dark2:hover{background-color: var(--dark2);}
.hov-dark3:hover{background-color: var(--dark3);}
.hov-dark4:hover{background-color: var(--dark4);}
.hov-dark5:hover{background-color: var(--dark5);}
.hov-dark6:hover{background-color: var(--dark6);}
.hov-dark7:hover{background-color: var(--dark7);}
.hov-dark8:hover{background-color: var(--dark8);}
.hov-dark9:hover{background-color: var(--dark9);}


.hov-red-9:hover{background-color: var(--red-9);}
.hov-red-8:hover{background-color: var(--red-8);}
.hov-red-7:hover{background-color: var(--red-7);}
.hov-red-6:hover{background-color: var(--red-6);}
.hov-red-5:hover{background-color: var(--red-5);}
.hov-red-4:hover{background-color: var(--red-4);}
.hov-red-3:hover{background-color: var(--red-3);}
.hov-red-2:hover{background-color: var(--red-2);}
.hov-red-1:hover{background-color: var(--red-1);}
.hov-red:hover{background-color: var(--red);}
.hov-red1:hover{background-color: var(--red1);}
.hov-red2:hover{background-color: var(--red2);}
.hov-red3:hover{background-color: var(--red3);}
.hov-red4:hover{background-color: var(--red4);}
.hov-red5:hover{background-color: var(--red5);}
.hov-red6:hover{background-color: var(--red6);}
.hov-red7:hover{background-color: var(--red7);}
.hov-red8:hover{background-color: var(--red8);}
.hov-red9:hover{background-color: var(--red9);}

.hov-orange-9:hover{background-color: var(--orange-9);}
.hov-orange-8:hover{background-color: var(--orange-8);}
.hov-orange-7:hover{background-color: var(--orange-7);}
.hov-orange-6:hover{background-color: var(--orange-6);}
.hov-orange-5:hover{background-color: var(--orange-5);}
.hov-orange-4:hover{background-color: var(--orange-4);}
.hov-orange-3:hover{background-color: var(--orange-3);}
.hov-orange-2:hover{background-color: var(--orange-2);}
.hov-orange-1:hover{background-color: var(--orange-1);}
.hov-orange:hover{background-color: var(--orange);}
.hov-orange1:hover{background-color: var(--orange1);}
.hov-orange2:hover{background-color: var(--orange2);}
.hov-orange3:hover{background-color: var(--orange3);}
.hov-orange4:hover{background-color: var(--orange4);}
.hov-orange5:hover{background-color: var(--orange5);}
.hov-orange6:hover{background-color: var(--orange6);}
.hov-orange7:hover{background-color: var(--orange7);}
.hov-orange8:hover{background-color: var(--orange8);}
.hov-orange9:hover{background-color: var(--orange9);}

.hov-bluel-9:hover{background-color: var(--bluel-9);}
.hov-bluel-8:hover{background-color: var(--bluel-8);}
.hov-bluel-7:hover{background-color: var(--bluel-7);}
.hov-bluel-6:hover{background-color: var(--bluel-6);}
.hov-bluel-5:hover{background-color: var(--bluel-5);}
.hov-bluel-4:hover{background-color: var(--bluel-4);}
.hov-bluel-3:hover{background-color: var(--bluel-3);}
.hov-bluel-2:hover{background-color: var(--bluel-2);}
.hov-bluel-1:hover{background-color: var(--bluel-1);}
.hov-bluel:hover{background-color: var(--bluel);}
.hov-bluel1:hover{background-color: var(--bluel1);}
.hov-bluel2:hover{background-color: var(--bluel2);}
.hov-bluel3:hover{background-color: var(--bluel3);}
.hov-bluel4:hover{background-color: var(--bluel4);}
.hov-bluel5:hover{background-color: var(--bluel5);}
.hov-bluel6:hover{background-color: var(--bluel6);}
.hov-bluel7:hover{background-color: var(--bluel7);}
.hov-bluel8:hover{background-color: var(--bluel8);}
.hov-bluel9:hover{background-color: var(--bluel9);}

.hov-vio-9:hover{background-color: var(--vio-9);}
.hov-vio-8:hover{background-color: var(--vio-8);}
.hov-vio-7:hover{background-color: var(--vio-7);}
.hov-vio-6:hover{background-color: var(--vio-6);}
.hov-vio-5:hover{background-color: var(--vio-5);}
.hov-vio-4:hover{background-color: var(--vio-4);}
.hov-vio-3:hover{background-color: var(--vio-3);}
.hov-vio-2:hover{background-color: var(--vio-2);}
.hov-vio-1:hover{background-color: var(--vio-1);}
.hov-vio:hover{background-color: var(--vio);}
.hov-vio1:hover{background-color: var(--vio1);}
.hov-vio2:hover{background-color: var(--vio2);}
.hov-vio3:hover{background-color: var(--vio3);}
.hov-vio4:hover{background-color: var(--vio4);}
.hov-vio5:hover{background-color: var(--vio5);}
.hov-vio6:hover{background-color: var(--vio6);}
.hov-vio7:hover{background-color: var(--vio7);}
.hov-vio8:hover{background-color: var(--vio8);}
.hov-vio9:hover{background-color: var(--vio9);}
/* END BACK HOVER */


/* FONTS */
.ctrans{color: transparent;}
.cwhite{color: white;}
.cblack{color: black;}
.cgray{color: gray;}
.cgains{color: gainsboro;}
.cCrimson{color: crimson;}
.cdarksalmon{color: darksalmon;}
.cdarkslateblue{color: darkslateblue;}
.cdarkslategray{color: darkslategray;}

.hov-ctrans:hover{color: transparent;}
.hov-cwhite:hover{color: white;}
.hov-cblack:hover{color: black;}
.hov-cgray:hover{color: gray;}
.hov-cgains:hover{color: gainsboro;}
.hov-cCrimson:hover{color: crimson;}
.hov-cdarksalmon:hover{color: darksalmon;}
.hov-cdarkslateblue:hover{color: darkslateblue;}
.hov-cdarkslategray:hover{color: darkslategray;}

.clight-9{color: var(--light-9);}
.clight-8{color: var(--light-8);}
.clight-7{color: var(--light-7);}
.clight-6{color: var(--light-6);}
.clight-5{color: var(--light-5);}
.clight-4{color: var(--light-4);}
.clight-3{color: var(--light-3);}
.clight-2{color: var(--light-2);}
.clight-1{color: var(--light-1);}
.clight{color: var(--light);}
.clight1{color: var(--light1);}
.clight2{color: var(--light2);}
.clight3{color: var(--light3);}
.clight4{color: var(--light4);}
.clight5{color: var(--light5);}
.clight6{color: var(--light6);}
.clight7{color: var(--light7);}
.clight8{color: var(--light8);}
.clight9{color: var(--light9);}


.cdark-9{color: var(--dark-9);}
.cdark-8{color: var(--dark-8);}
.cdark-7{color: var(--dark-7);}
.cdark-6{color: var(--dark-6);}
.cdark-5{color: var(--dark-5);}
.cdark-4{color: var(--dark-4);}
.cdark-3{color: var(--dark-3);}
.cdark-2{color: var(--dark-2);}
.cdark-1{color: var(--dark-1);}
.cdark{color: var(--dark);}
.cdark1{color: var(--dark1);}
.cdark2{color: var(--dark2);}
.cdark3{color: var(--dark3);}
.cdark4{color: var(--dark4);}
.cdark5{color: var(--dark5);}
.cdark6{color: var(--dark6);}
.cdark7{color: var(--dark7);}
.cdark8{color: var(--dark8);}
.cdark9{color: var(--dark9);}


.cred-9{color: var(--red-9);}
.cred-8{color: var(--red-8);}
.cred-7{color: var(--red-7);}
.cred-6{color: var(--red-6);}
.cred-5{color: var(--red-5);}
.cred-4{color: var(--red-4);}
.cred-3{color: var(--red-3);}
.cred-2{color: var(--red-2);}
.cred-1{color: var(--red-1);}
.cred{color: var(--red);}
.cred1{color: var(--red1);}
.cred2{color: var(--red2);}
.cred3{color: var(--red3);}
.cred4{color: var(--red4);}
.cred5{color: var(--red5);}
.cred6{color: var(--red6);}
.cred7{color: var(--red7);}
.cred8{color: var(--red8);}
.cred9{color: var(--red9);}

.corange-9{color: var(--orange-9);}
.corange-8{color: var(--orange-8);}
.corange-7{color: var(--orange-7);}
.corange-6{color: var(--orange-6);}
.corange-5{color: var(--orange-5);}
.corange-4{color: var(--orange-4);}
.corange-3{color: var(--orange-3);}
.corange-2{color: var(--orange-2);}
.corange-1{color: var(--orange-1);}
.corange{color: var(--orange);}
.corange1{color: var(--orange1);}
.corange2{color: var(--orange2);}
.corange3{color: var(--orange3);}
.corange4{color: var(--orange4);}
.corange5{color: var(--orange5);}
.corange6{color: var(--orange6);}
.corange7{color: var(--orange7);}
.corange8{color: var(--orange8);}
.corange9{color: var(--orange9);}

.cbluel-9{color: var(--bluel-9);}
.cbluel-8{color: var(--bluel-8);}
.cbluel-7{color: var(--bluel-7);}
.cbluel-6{color: var(--bluel-6);}
.cbluel-5{color: var(--bluel-5);}
.cbluel-4{color: var(--bluel-4);}
.cbluel-3{color: var(--bluel-3);}
.cbluel-2{color: var(--bluel-2);}
.cbluel-1{color: var(--bluel-1);}
.cbluel{color: var(--bluel);}
.cbluel1{color: var(--bluel1);}
.cbluel2{color: var(--bluel2);}
.cbluel3{color: var(--bluel3);}
.cbluel4{color: var(--bluel4);}
.cbluel5{color: var(--bluel5);}
.cbluel6{color: var(--bluel6);}
.cbluel7{color: var(--bluel7);}
.cbluel8{color: var(--bluel8);}
.cbluel9{color: var(--bluel9);}

.cvio-9{color: var(--vio-9);}
.cvio-8{color: var(--vio-8);}
.cvio-7{color: var(--vio-7);}
.cvio-6{color: var(--vio-6);}
.cvio-5{color: var(--vio-5);}
.cvio-4{color: var(--vio-4);}
.cvio-3{color: var(--vio-3);}
.cvio-2{color: var(--vio-2);}
.cvio-1{color: var(--vio-1);}
.cvio{color: var(--vio);}
.cvio1{color: var(--vio1);}
.cvio2{color: var(--vio2);}
.cvio3{color: var(--vio3);}
.cvio4{color: var(--vio4);}
.cvio5{color: var(--vio5);}
.cvio6{color: var(--vio6);}
.cvio7{color: var(--vio7);}
.cvio8{color: var(--vio8);}
.cvio9{color: var(--vio9);}

/* END oF FONTS */


/* FONTS HOVER */

.hov-clight-9:hover{color: var(--light-9);}
.hov-clight-8:hover{color: var(--light-8);}
.hov-clight-7:hover{color: var(--light-7);}
.hov-clight-6:hover{color: var(--light-6);}
.hov-clight-5:hover{color: var(--light-5);}
.hov-clight-4:hover{color: var(--light-4);}
.hov-clight-3:hover{color: var(--light-3);}
.hov-clight-2:hover{color: var(--light-2);}
.hov-clight-1:hover{color: var(--light-1);}
.hov-clight:hover{color: var(--light);}
.hov-clight1:hover{color: var(--light1);}
.hov-clight2:hover{color: var(--light2);}
.hov-clight3:hover{color: var(--light3);}
.hov-clight4:hover{color: var(--light4);}
.hov-clight5:hover{color: var(--light5);}
.hov-clight6:hover{color: var(--light6);}
.hov-clight7:hover{color: var(--light7);}
.hov-clight8:hover{color: var(--light8);}
.hov-clight9:hover{color: var(--light9);}


.hov-cdark-9:hover{color: var(--dark-9);}
.hov-cdark-8:hover{color: var(--dark-8);}
.hov-cdark-7:hover{color: var(--dark-7);}
.hov-cdark-6:hover{color: var(--dark-6);}
.hov-cdark-5:hover{color: var(--dark-5);}
.hov-cdark-4:hover{color: var(--dark-4);}
.hov-cdark-3:hover{color: var(--dark-3);}
.hov-cdark-2:hover{color: var(--dark-2);}
.hov-cdark-1:hover{color: var(--dark-1);}
.hov-cdark:hover{color: var(--dark);}
.hov-cdark1:hover{color: var(--dark1);}
.hov-cdark2:hover{color: var(--dark2);}
.hov-cdark3:hover{color: var(--dark3);}
.hov-cdark4:hover{color: var(--dark4);}
.hov-cdark5:hover{color: var(--dark5);}
.hov-cdark6:hover{color: var(--dark6);}
.hov-cdark7:hover{color: var(--dark7);}
.hov-cdark8:hover{color: var(--dark8);}
.hov-cdark9:hover{color: var(--dark9);}


.hov-cred-9:hover{color: var(--red-9);}
.hov-cred-8:hover{color: var(--red-8);}
.hov-cred-7:hover{color: var(--red-7);}
.hov-cred-6:hover{color: var(--red-6);} 
.hov-cred-5:hover{color: var(--red-5);}
.hov-cred-4:hover{color: var(--red-4);}
.hov-cred-3:hover{color: var(--red-3);}
.hov-cred-2:hover{color: var(--red-2);}
.hov-cred-1:hover{color: var(--red-1);}
.hov-cred:hover{color: var(--red);}
.hov-cred1:hover{color: var(--red1);}
.hov-cred2:hover{color: var(--red2);}
.hov-cred3:hover{color: var(--red3);}
.hov-cred4:hover{color: var(--red4);}
.hov-cred5:hover{color: var(--red5);}
.hov-cred6:hover{color: var(--red6);}
.hov-cred7:hover{color: var(--red7);}
.hov-cred8:hover{color: var(--red8);}
.hov-cred9:hover{color: var(--red9);}

.hov-corange-9:hover{color: var(--orange-9);}
.hov-corange-8:hover{color: var(--orange-8);}
.hov-corange-7:hover{color: var(--orange-7);}
.hov-corange-6:hover{color: var(--orange-6);}
.hov-corange-5:hover{color: var(--orange-5);}
.hov-corange-4:hover{color: var(--orange-4);}
.hov-corange-3:hover{color: var(--orange-3);}
.hov-corange-2:hover{color: var(--orange-2);}
.hov-corange-1:hover{color: var(--orange-1);}
.hov-corange:hover{color: var(--orange);}
.hov-corange1:hover{color: var(--orange1);}
.hov-corange2:hover{color: var(--orange2);}
.hov-corange3:hover{color: var(--orange3);}
.hov-corange4:hover{color: var(--orange4);}
.hov-corange5:hover{color: var(--orange5);}
.hov-corange6:hover{color: var(--orange6);}
.hov-corange7:hover{color: var(--orange7);}
.hov-corange8:hover{color: varhov-(--orange8);}
.hov-corange9:hover{color: var(--orange9);}

.hov-cbluel-9:hover{color: var(--bluel-9);}
.hov-cbluel-8:hover{color: var(--bluel-8);}
.hov-cbluel-7:hover{color: var(--bluel-7);}
.hov-cbluel-6:hover{color: var(--bluel-6);}
.hov-cbluel-5:hover{color: var(--bluel-5);}
.hov-cbluel-4:hover{color: var(--bluel-4);}
.hov-cbluel-3:hover{color: var(--bluel-3);}
.hov-cbluel-2:hover{color: var(--bluel-2);}
.hov-cbluel-1:hover{color: var(--bluel-1);}
.hov-cbluel:hover{color: var(--bluel);}
.hov-cbluel1:hover{color: var(--bluel1);}
.hov-cbluel2:hover{color: var(--bluel2);}
.hov-cbluel3:hover{color: var(--bluel3);}
.hov-cbluel4:hover{color: var(--bluel4);}
.hov-cbluel5:hover{color: var(--bluel5);}
.hov-cbluel6:hover{color: var(--bluel6);}
.hov-cbluel7:hover{color: var(--bluel7);}
.hov-cbluel8:hover{color: var(--bluel8);}
.hov-cbluel9:hover{color: var(--bluel9);}

.hov-cvio-9:hover{color: var(--vio-9);}
.hov-cvio-8:hover{color: var(--vio-8);}
.hov-cvio-7:hover{color: var(--vio-7);}
.hov-cvio-6:hover{color: var(--vio-6);}
.hov-cvio-5:hover{color: var(--vio-5);}
.hov-cvio-4:hover{color: var(--vio-4);}
.hov-cvio-3:hover{color: var(--vio-3);}
.hov-cvio-2:hover{color: var(--vio-2);}
.hov-cvio-1:hover{color: var(--vio-1);}
.hov-cvio:hover{color: var(--vio);}
.hov-cvio1:hover{color: var(--vio1);}
.hov-cvio2:hover{color: var(--vio2);}
.hov-cvio3:hover{color: var(--vio3);}
.hov-cvio4:hover{color: var(--vio4);}
.hov-cvio5:hover{color: var(--vio5);}
.hov-cvio6:hover{color: var(--vio6);}
.hov-cvio7:hover{color: var(--vio7);}
.hov-cvio8:hover{color: var(--vio8);}
.hov-cvio9:hover{color: var(--vio9);}

/* END oF FONTS HOVER */



.p{padding: 10px;}
.p0{padding: 0px;}
.p1{padding: 1px;}
.p2{padding: 2px;}
.p3{padding: 3px;}
.p4{padding: 4px;}
.p5{padding: 5px;}
.p6{padding: 6px;}
.p7{padding: 7px;}
.p8{padding: 8px;}
.p9{padding: 9px;}
.p10{padding: 10px;}
.p11{padding: 11px;}
.p12{padding: 12px;}
.p13{padding: 13px;}
.p14{padding: 14px;}
.p15{padding: 15px;}
.p16{padding: 16px;}
.p17{padding: 17px;}
.p18{padding: 18px;}
.p19{padding: 19px;}
.p20{padding: 20px;}
.p21{padding: 21px;}
.p22{padding: 22px;}
.p23{padding: 23px;}
.p24{padding: 24px;}
.p25{padding: 25px;}
.p26{padding: 26px;}
.p27{padding: 27px;}
.p28{padding: 28px;}
.p39{padding: 39px;}
.p30{padding: 30px;}
.p31{padding: 31px;}
.p32{padding: 32px;}
.p33{padding: 33px;}
.p34{padding: 34px;}
.p35{padding: 35px;}
.p36{padding: 36px;}
.p37{padding: 37px;}
.p38{padding: 38px;}
.p39{padding: 39px;}
.p40{padding: 40px;}
.p41{padding: 41px;}
.p42{padding: 42px;}
.p43{padding: 43px;}
.p44{padding: 44px;}
.p45{padding: 45px;}
.p46{padding: 46px;}
.p47{padding: 47px;}
.p48{padding: 48px;}
.p49{padding: 49px;}
.p50{padding: 50px;}
.p51{padding: 51px;}
.p52{padding: 52px;}
.p53{padding: 53px;}
.p54{padding: 54px;}
.p55{padding: 55px;}
.p56{padding: 56px;}
.p57{padding: 57px;}
.p58{padding: 58px;}
.p59{padding: 59px;}
.p60{padding: 60px;}
.p61{padding: 61px;}
.p62{padding: 62px;}
.p63{padding: 63px;}
.p64{padding: 64px;}
.p65{padding: 65px;}
.p66{padding: 66px;}
.p67{padding: 67px;}
.p68{padding: 68px;}
.p69{padding: 69px;}
.p70{padding: 70px;}
.p71{padding: 71px;}
.p72{padding: 72px;}
.p73{padding: 73px;}
.p74{padding: 74px;}
.p75{padding: 75px;}
.p76{padding: 76px;}
.p77{padding: 77px;}
.p78{padding: 78px;}
.p79{padding: 79px;}
.p80{padding: 80px;}
.p81{padding: 81px;}
.p82{padding: 82px;}
.p83{padding: 83px;}
.p84{padding: 84px;}
.p85{padding: 85px;}
.p86{padding: 86px;}
.p87{padding: 87px;}
.p88{padding: 88px;}
.p89{padding: 89px;}
.p90{padding: 90px;}
.p91{padding: 91px;}
.p92{padding: 92px;}
.p93{padding: 93px;}
.p94{padding: 94px;}
.p95{padding: 95px;}
.p96{padding: 96px;}
.p97{padding: 97px;}
.p98{padding: 98px;}
.p99{padding: 99px;}
.p110{padding: 110px;}
.p115{padding: 115px;}
.p120{padding: 120px;}
.p125{padding: 125px;}
.p130{padding: 130px;}
.p135{padding: 135px;}
.p140{padding: 140px;}
.p145{padding: 145px;}
.p150{padding: 150px;}
.p155{padding: 155px;}
.p160{padding: 160px;}
.p165{padding: 165px;}
.p170{padding: 170px;}
.p175{padding: 175px;}
.p180{padding: 180px;}
.p185{padding: 185px;}
.p190{padding: 190px;}
.p195{padding: 195px;}
.p200{padding: 200px;}


.p10per {padding: 10%;}
.p20per {padding: 20%;}

.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pt30 {padding-top: 30px;}
.pt40 {padding-top: 40px;}
.pt50 {padding-top: 50px;}
.pt60 {padding-top: 60px;}
.pt70 {padding-top: 70px;}
.pt80 {padding-top: 80px;}
.pt90 {padding-top: 90px;}
.pt100 {padding-top: 100px;}
.pt150 {padding-top: 150px;}
.pt200 {padding-top: 200px;}

.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pb40 {padding-bottom: 40px;}
.pb50 {padding-bottom: 50px;}
.pb100 {padding-bottom: 100px;}

.ptb1 {padding-top: 1px; padding-bottom: 1px;}
.ptb2 {padding-top: 2px; padding-bottom: 2px;}
.ptb3 {padding-top: 3px; padding-bottom: 3px;}
.ptb5 {padding-top: 5px; padding-bottom: 5px;}
.ptb10 {padding-top: 10px; padding-bottom: 10px;}
.ptb20 {padding-top: 20px; padding-bottom: 20px;}

.pl50{padding-left: 50px;}

.plr1{padding-left: 1px; padding-right: 2px;}
.plr2{padding-left: 2px; padding-right: 2px;}
.plr3{padding-left: 3px; padding-right: 3px;}
.plr4{padding-left: 4px; padding-right: 4px;}
.plr5{padding-left: 5px; padding-right: 5px;}
.plr5{padding-left: 6px; padding-right: 6px;}
.plr5{padding-left: 7px; padding-right: 7px;}
.plr5{padding-left: 8px; padding-right: 8px;}
.plr5{padding-left: 9px; padding-right: 9px;}
.plr10{padding-left: 10px; padding-right: 10px;}
.plr11{padding-left: 11px; padding-right: 11px;}
.plr15{padding-left: 15px; padding-right: 15px;}
.plr20{padding-left: 20px; padding-right: 20px;}
.plr30{padding-left: 30px; padding-right: 30px;}
.plr40{padding-left: 40px; padding-right: 40px;}
.plr50{padding-left: 50px; padding-right: 50px;}
.plr100{padding-left: 100px; padding-right: 100px;}

.pr1{ padding-right: 2px;}
.pr2{ padding-right: 2px;}
.pr3{ padding-right: 3px;}
.pr4{ padding-right: 4px;}
.pr5{ padding-right: 5px;}
.pr5{ padding-right: 6px;}
.pr5{ padding-right: 7px;}
.pr5{ padding-right: 8px;}
.pr5{ padding-right: 9px;}
.pr10{padding-right: 10px;}
.pr11{padding-right: 11px;}
.pr15{padding-right: 15px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pr40{padding-right: 40px;}
.pr50{padding-right: 50px;}
.pr100{ padding-right: 100px;}

.plr10per {padding-left: 10%; padding-right: 10%;}
.plr20per {padding-left: 20%; padding-right: 20%;}

.m0{margin: 0px;}
.m{margin: 10px;}
.m1{margin: 1px;}
.m2{margin: 2px;}
.m3{margin: 3px;}
.m4{margin: 4px;}
.m5{margin: 5px;}
.m6{margin: 6px;}
.m7{margin: 7px;}
.m8{margin: 8px;}
.m9{margin: 9px;}
.m10{margin: 10px;}
.m15{margin: 15px;}
.m20{margin: 20px;}
.m25{margin: 25px;}
.m30{margin: 30px;}
.m35{margin: 35px;}

.mb0{margin-bottom: 0px;}
.mb{margin-bottom: 10px;}
.mb3{margin-bottom: 3px;}
.mb4{margin-bottom: 4px;}
.mb5{margin-bottom: 5px;}
.mb6{margin-bottom: 6px;}
.mb7{margin-bottom: 7px;}
.mb8{margin-bottom: 8px;}
.mb9{margin-bottom: 9px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}

.ml3 {margin-left: 3px;}
.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml20 {margin-left: 20px;}

.mt3 {margin-top: 3px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt55 {margin-top: 55px;}
.mt60 {margin-top: 60px;}
.mt70 {margin-top: 70px;}
.mt80 {margin-top: 80px;}
.mt90 {margin-top: 90px;}
.mt100 {margin-top: 100px;}

.mtb5 {margin-top: 5px; margin-bottom: 5px;}
.mtb10 {margin-top: 10px; margin-bottom: 10px;}
.mtb20 {margin-top: 20px; margin-bottom: 20px;}
.mtb30 {margin-top: 30px; margin-bottom: 30px;}
.mtb40 {margin-top: 40px; margin-bottom: 40px;}
.mtb50 {margin-top: 50px; margin-bottom: 50px;}
.mtb60 {margin-top: 60px; margin-bottom: 60px;}
.mtb70 {margin-top: 70px; margin-bottom: 70px;}
.mtb80 {margin-top: 80px; margin-bottom: 80px;}
.mtb90 {margin-top: 90px; margin-bottom: 90px;}
.mtb100 {margin-top: 10px; margin-bottom: 100px;}

.mlr3 {margin-left: 3px; margin-right: 3px;}
.mlr5 {margin-left: 5px; margin-right: 5px;}
.mlr10 {margin-left: 10px; margin-right: 10px;}
.mlr15 {margin-left: 15px; margin-right: 15px;}
.mlr20 {margin-left: 20px; margin-right: 20px;}
.mlr30 {margin-left: 30px; margin-right: 30px;}
.mlr40 {margin-left: 40px; margin-right: 40px;}
.mlr50 {margin-left: 50px; margin-right: 50px;}
.mlr60 {margin-left: 60px; margin-right: 60px;}
.mlr70 {margin-left: 70px; margin-right: 70px;}
.mlr80 {margin-left: 80px; margin-right: 80px;}
.mlr90 {margin-left: 90px; margin-right: 90px;}
.mlr100 {margin-left: 100px; margin-right: 100px;}


.br0{border-radius: 0;}
.br3{border-radius: 3px;}
.br{border-radius: 5px;}
.br5{border-radius: 5px;}
.br10{border-radius: 10px;}
.br20{border-radius: 20px;}
.br30{border-radius: 30px;}
.br40{border-radius: 40px;}
.br50{border-radius: 50px;}
.br60{border-radius: 60px;}
.br70{border-radius: 70px;}
.br80{border-radius: 80px;}
.br90{border-radius: 90px;}
.br100{border-radius: 100px;}
.br50per{border-radius: 50%;}
.br90per{border-radius: 90%;}

.brt10{border-radius: 10px 10px 0 0;}

.b{border: 1px solid gainsboro;}
.bb {border-bottom: 1px solid gainsboro;}

.shadow0 {box-shadow: none;}
.shadow{box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.268);}
.shadow1{box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.118);}
.shadowb{box-shadow: 5px 1px 5px  rgba(33, 6, 6, 0.268);}


.hov-large01:hover{transform: scale(1.01); transition: all .2s;}
.hov-large02:hover{transform: scale(1.02); transition: all .2s;}
.hov-large03:hover{transform: scale(1.03); transition: all .2s;}
.hov-large04:hover{transform: scale(1.04); transition: all .2s;}
.hov-fly:hover{transform: translate(0px,-5px);transition: all .2s;}
.hov-pop:hover{animation: pop .2s;}
.hov-drop{transition: all 1s;}
.hov-jump:hover{animation: jump .2s;}

.click-pop:active {  animation: pop  .1s; transition: all .5s;}
.click-jump:active {  animation: jump ease .2s;}

.trans-pop {  animation: trans-pop  .2s; ;}



@keyframes pop {
  0%{    transform: scale(1);  }
  70%{    transform: scale(1.1)  }
  100%{    transform: scale(1)  }
}
@keyframes jump {
  0%{    transform: translateY(0px);  }
  70%{    transform: translateY(-7px)    }
  100%{    transform: translateY(0px);  }
}

@keyframes trans-pop {
    0%{
      opacity: 0%;
      transform: scale(.9);
    }
    70%{
      opacity: 70%;
      transform: scale(1.01)
    }
    100%{
      opacity: 100%;
      transform: scale(1)
    }
}


.back {z-index: 0;}
.front {z-index: 1000;}
.front9 {z-index: 900;}
.front2 {z-index: 999999;}


.active-btn{
  padding: 10px 20px;
  background-color: rgb(136, 39, 155);
  color: whitesmoke;
}
.active-btn:hover{
  background-color: rgb(169, 69, 189);
}


.images-grid{
  display: grid;
grid-template-areas: 
'first first first'
'second third more'
;
}

.grid2x1{display: grid;grid-template-columns: 1fr; grid-template-rows: 1fr 1fr;}
.gridautox1{display: grid;grid-template-columns: 1fr; grid-template-rows: min-content 1fr;}
.gridmin1x1{display: grid;grid-template-columns: 1fr; grid-template-rows: min-content 1fr;}

.div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layout-main-side{
  display: grid;
  grid-template-columns: minmax(200px,auto) minmax(auto,300px);
}

@media (max-width:900px) {
  
  .layout-main-side{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr min-content;
  }
}